OP3.Dominio/OP3.Presentacion/Service References/WcfServicios/WcfServicios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOUsuario" nillable="true" type="tns:DTOUsuario" />
  <xs:complexType name="ArrayOfDTOUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOUsuario" nillable="true" type="tns:DTOUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOUsuario" nillable="true" type="tns:ArrayOfDTOUsuario" />
  <xs:complexType name="ArrayOfDTOBarrio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOBarrio" nillable="true" type="tns:DTOBarrio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOBarrio" nillable="true" type="tns:ArrayOfDTOBarrio" />
  <xs:complexType name="DTOBarrio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOBarrio" nillable="true" type="tns:DTOBarrio" />
  <xs:complexType name="ArrayOfDTOVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOVivienda" nillable="true" type="tns:DTOVivienda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOVivienda" nillable="true" type="tns:ArrayOfDTOVivienda" />
  <xs:complexType name="DTOVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" type="xs:int" />
      <xs:element minOccurs="0" name="Banios" type="xs:int" />
      <xs:element minOccurs="0" name="Barrio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dormitorios" type="xs:int" />
      <xs:element minOccurs="0" name="Habilitada" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Metraje" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PBaseXMetroCuadrado" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioFinal" type="xs:double" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOVivienda" nillable="true" type="tns:DTOVivienda" />
</xs:schema>