OP3.Dominio/OP3.Presentacion/Service References/WcfServicios/WcfServicios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63688/WcfServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicios" />
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q1:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="GetTodosLosUsuariosResult" nillable="true" type="q2:ArrayOfDTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="AgregarUsuarioResult" nillable="true" type="q3:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="ModificarUsuarioResult" nillable="true" type="q4:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="EliminarUsuarioResult" nillable="true" type="q5:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosBarrios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosBarriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="GetTodosLosBarriosResult" nillable="true" type="q6:ArrayOfDTOBarrio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarBarrioPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarBarrioPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="BuscarBarrioPorNombreResult" nillable="true" type="q7:DTOBarrio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarBarrio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarBarrioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="AgregarBarrioResult" nillable="true" type="q8:DTOBarrio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarBarrio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarBarrioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="ModificarBarrioResult" nillable="true" type="q9:DTOBarrio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarBarrio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarBarrioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="EliminarBarrioResult" nillable="true" type="q10:DTOBarrio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodasLasViviendas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodasLasViviendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="GetTodasLasViviendasResult" nillable="true" type="q11:ArrayOfDTOVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" type="xs:boolean" />
        <xs:element minOccurs="0" name="HabilitadaBit" type="xs:int" />
        <xs:element minOccurs="0" name="vCalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vNumero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBarrio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBanios" type="xs:int" />
        <xs:element minOccurs="0" name="vDormitorios" type="xs:int" />
        <xs:element minOccurs="0" name="vMetraje" type="xs:int" />
        <xs:element minOccurs="0" name="vAnio" type="xs:int" />
        <xs:element minOccurs="0" name="vPBaseXMetroCuadrado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="AgregarViviendaResult" nillable="true" type="q12:DTOVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVivinda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vid" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:boolean" />
        <xs:element minOccurs="0" name="HabilitadaBit" type="xs:int" />
        <xs:element minOccurs="0" name="vCalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vNumero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBarrio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBanios" type="xs:int" />
        <xs:element minOccurs="0" name="vDormitorios" type="xs:int" />
        <xs:element minOccurs="0" name="vMetraje" type="xs:int" />
        <xs:element minOccurs="0" name="vAnio" type="xs:int" />
        <xs:element minOccurs="0" name="vPBaseXMetroCuadrado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVivindaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="ModificarVivindaResult" nillable="true" type="q13:DTOVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServicios" minOccurs="0" name="EliminarViviendaResult" nillable="true" type="q14:DTOVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>