OP3.Dominio/OP3.Presentacion/Service References/WcfServicios/WcfServicios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOUsuario" nillable="true" type="tns:DTOUsuario" />
  <xs:complexType name="ArrayOfDTOUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOUsuario" nillable="true" type="tns:DTOUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOUsuario" nillable="true" type="tns:ArrayOfDTOUsuario" />
</xs:schema>