OP3.Dominio/OP3.Presentacion/Service References/WcfServicios/WcfServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfServicios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63688/WcfServicios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63688/WcfServicios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63688/WcfServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWfServicios_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_GetTodosLosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosLosUsuarios" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_GetTodosLosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosLosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_GetTodosLosBarrios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosLosBarrios" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_GetTodosLosBarrios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosLosBarriosResponse" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_GetTodasLasViviendas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodasLasViviendas" />
  </wsdl:message>
  <wsdl:message name="IWfServicios_GetTodasLasViviendas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodasLasViviendasResponse" />
  </wsdl:message>
  <wsdl:portType name="IWfServicios">
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWfServicios/ObtenerUsuario" message="tns:IWfServicios_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWfServicios/ObtenerUsuarioResponse" message="tns:IWfServicios_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IWfServicios/GetTodosLosUsuarios" message="tns:IWfServicios_GetTodosLosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWfServicios/GetTodosLosUsuariosResponse" message="tns:IWfServicios_GetTodosLosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosBarrios">
      <wsdl:input wsaw:Action="http://tempuri.org/IWfServicios/GetTodosLosBarrios" message="tns:IWfServicios_GetTodosLosBarrios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWfServicios/GetTodosLosBarriosResponse" message="tns:IWfServicios_GetTodosLosBarrios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasViviendas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWfServicios/GetTodasLasViviendas" message="tns:IWfServicios_GetTodasLasViviendas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWfServicios/GetTodasLasViviendasResponse" message="tns:IWfServicios_GetTodasLasViviendas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWfServicios" type="tns:IWfServicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IWfServicios/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosUsuarios">
      <soap:operation soapAction="http://tempuri.org/IWfServicios/GetTodosLosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosBarrios">
      <soap:operation soapAction="http://tempuri.org/IWfServicios/GetTodosLosBarrios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasViviendas">
      <soap:operation soapAction="http://tempuri.org/IWfServicios/GetTodasLasViviendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfServicios">
    <wsdl:port name="BasicHttpBinding_IWfServicios" binding="tns:BasicHttpBinding_IWfServicios">
      <soap:address location="http://localhost:63688/WcfServicios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>